.cart-section {
    text-align: center;
    margin: 2rem;
}
body {
    background-color: #eef123fa;
    color: rgb(55, 8, 164);
}
header {
    background-color: #ff6f61;
    color: rgb(55, 8, 164);
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}
.cart-item {
    color: rgb(55, 8, 164);
    font-weight: bold;
    background-color: #ff6f61;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.cart-total {
    color: rgb(55, 8, 164);
    font-weight: bold;
    background-color: #ff6f61;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}

.cart-total h3 {
    color: rgb(55, 8, 164);
    font-weight: bold;
    margin-bottom: 1rem;
}
footer {
    background-color: rgb(55, 8, 164);
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
}